
$c-white:  #F1EFEF;
$c-black:  #2B2B2B;
$-c-black-darker: #222222;

$f-titles:  'Trykker', serif;
$f-text: 'Roboto', 'sans-serif';

$padding:2em;

.contact-section{
    background-color: $c-black;
    color: $c-white;
    padding: 5%;
    h2, h3{
        margin: 0;
    }
}

.content__img-hover-text{
    position: relative;

    .content-hoverlay{
        background: rgba(0,0,0,0.7);
        position: absolute;
        height: 99%;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;

    }
}

.content__img-hover-text:hover{
        opacity: 1;
    
}
.content-details{
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content__img-hover-text:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
}

.fadeIn-right{
    left: 80%;
  }

@media (max-width: 800px){
    .fadeIn-right{
        left: 0;
      }
}

.pic:hover{
    opacity: .3;
}

.skills-block{
    display: grid;
    grid-template-columns: 40% 50%;
    grid-gap: 10%;
    margin: 8em 0;

    .pic{
        width: 100%;
        
    }
    .text{
        margin:auto;
    }
    a{
        color: $c-white;
        text-decoration-style: none;
        font-weight: 600;
        cursor: pointer;
        display: inline-block;
        position: relative;
    }

    a:after {    
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #fff;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      a:hover:after { 
        width: 100%; 
        left: 0; 
      }
}

@media (max-width: 800px){
    .skills-block{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-gap: 10%;
        margin-top: 20%;
    }
}


.skills-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5%;

    h3{
    margin-top: 10%;
    text-align: left;
    }

    .skill-one{
        border: 1px solid $c-white;
        padding: .5em;
        cursor: pointer;
        text-align: center;
        font-size: .8em;
        margin: 1.5em 0;

        span{
            opacity: 0.2;
        }
    }
    .skill-one:hover{
        background-color: $c-white;
        color:$c-black;

        span{
            opacity: 1;
        }
    }
}

@media (max-width: 800px){

    .skills-grid{
        grid-template-rows: 1fr;
        grid-template-columns: auto auto auto auto;
    }
}

.contact-block{
    margin: 5% 0;
    text-align: left;
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 1%;

}

.contact-form{
    display: grid;
    grid-template-columns: 60% 39%;
    grid-gap: 1%;
    

    .sent-contact{
        display: grid;
        margin: auto 0;
        grid-gap: 1em;
        grid-gap: 1%;
    }
    .email-contact{
        padding: 1em 0 0 1em;
        font-family: $f-text;
    }
    
    .email{
        padding: 1em 0 0 1em;
        font-family: $f-text;
    }
}
